@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

.cabecario {
  padding:10px 11%;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}

.headerlinks {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.headerlinks:hover {
  color: #bebfc1;
}
@media (max-width: 1366px) {
  .headerlinks {
    margin-left: 30px;
  }
  .cabecario {
    padding: 0 14%;
  }
}
@media (max-width: 414px) {
  .headerlinks {
    margin-left: 20px;
  }
  .cabecario {
    padding: 0 2%;
  }
}
