.Footer {
    height: 30px;
    background-image: linear-gradient(to bottom right, #24292E, #24292E);
    text-align: center;
    padding-top: 10px ;
}
.Footer a {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
}
.Footer p {
    font-size: 9px;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.Footer a:hover {
    color: #BEBFC1;
}
